<div class="cardContainer">
  <div class="nodeCard" *ngFor="let node of nodes">
    <p>
      #{{ node.id }} <b>{{ node.name }}</b>
      <button (click)="deleteNode(node.id)">X</button>
    </p>
    <p>{{ node.address }}</p>
    <p>stock: {{ node.stock }}</p>
    <h4>Conecciones</h4>
    <div *ngIf="node.connections.length == 0">NO HAY!</div>
    <div *ngFor="let conn of node.connections">
      <p>
        Con nodo
        <span *ngIf="conn.originNode == node.id; else opb">
          #{{ conn.endNode }}
        </span>
        <ng-template #opb>
          <span> #{{ conn.originNode }}</span>
        </ng-template>

        > {{ conn.distance }} mts.
        <button (click)="deleteConnection(conn.id)">X</button>
      </p>
    </div>
    <div class="togglers">
      <div (click)="toggleSelected(node)">
        <input type="checkBox" /> Seleccionado
      </div>
      <div (click)="toggleStartNode(node.id)">
        <input type="checkBox" /> Inicio
      </div>
      <div (click)="toggleEndNode(node.id)"><input type="checkBox" /> Fin</div>
    </div>
  </div>
</div>
